/vendor/*
/src/Controller/CommentsController.php
/src/Controller/WeeklyhoursController.php
/src/Template/Weeklyreports/view.ctp
/config/app.php
/tmp/*
/logs/*
/nbproject/private/
/.settings
/.buildpath
/.project
/.metadata
